.project
.settings
.classpath
*/.project
*/.settings
*/.classpath
*/target

**/.project
**/.settings
**/.classpath
**/target

*/**/.project
*/**/.settings
*/**/.classpath
*/**/target
*/.factorypath
*/**/.factorypath
